@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

* {
  z-index: 1;
}

/* white text underline */
.white-underline {
  position: relative;
  color: white;
  text-decoration: none;
}

.white-underline:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.white-underline:hover::before {
  transform: scaleX(1);
}

/* black text underline */
.underline {
  position: relative;
  color: black;
  text-decoration: none;
}

.underline:hover {
  color: white;
}

.underline:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline:hover::before {
  transform: scaleX(1);
}

/* footer */
footer {
  z-index: 0;
  position: fixed;
  left: 0;
  bottom: 0;
}
