/* The answer selecteed by the user */
.selected {
    background-color: orange;
}

/* The list of options */
.options {
    padding: 8px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px
}

.options:hover {
    background-color: #252f3f;
    
}

ul {
    list-style-type: none;
    padding: 5px;
}

body{
    
    font-size: 18px; 
}
